@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;800&display=swap');


:root {
  --white: #f4f4f4;
  --black: #262626;
  --contraste: #8B5A2B;
  --light: #E7E0DA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  }